# Ignore object files in src directory
src/*.o

# Ignore dependency files in src directory
src/*.d

# Ignore all files in the output directory
output/*

# Ignore all files in the .vscode directory
.vscode/*

game_history.txt
highscores.txt